.header12
{
	background-color:9EEFF3;
}

.header21
{
	background-color:9EEFF3;
}

.principal
{
	background-color:9EEFF3;
	padding:5px;
	font-size:16px;
	font-style:italic;
	font-weight:500;
	text-align:justify;
	border-radius:10px;
}
.foot
{
	background-color:E4E3F0;
	
}

.gall
{
	background-color:A3A1C1;
}